p{
    color:#FF7D29;
    text-indent: 20px;
  }
 h2{
    color: #FFBF78;
    font-size:#FFBF78;
  }
section{
    color:#FF7D29;
    background-color: #FFEEA9;
    border: 1px #FFBF78 solid;
    margin: 50px;
    padding-top: 10px;
    text-indent: 20px;
    padding: 10px;
   margin-bottom: 10px;
}
h1{
color: #FFBF78;
text-indent: 548px;
}
body {
  background-color: #FEFFD2;
  font-family: cursive, sans-serif;
  margin: 0;
  padding-top: 30px;
}
nav {
  left: 0;
  width: 200%;
  background-color: #FEFFD2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.menu-item {
  color: #FF7D29;
  padding: 55px;
  display: inline-block;
}
.menu-item:hover {
  background-color: #FEFFD2;
  transition: all 0.4s ease-in-out;
}
header {
  background-color: #FEFFD2;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
#habilidades ul {
  list-style: none;
  padding: 0;
}

#habilidades ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid #FF7D29;
  border-radius: 5px;
  margin-right: 10px;
}
#experiencia ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#experiencia ul li {
  margin-bottom: 10px;
}
#sociales {
  list-style: none;
}
footer {
  background-color: #FFEEA9;
  color: #FF7D29;
  text-align: center;
  padding: 10px;
}
